DB_DSN="mysql:host=127.0.0.1;port=3306;dbname=stockdata;charset=utf8mb4"
DB_USER=rax
DB_PASS=512

MAIL_USERNAME=ramu@rcpro.in
MAIL_PASSWORD=HostingMail00$
MAIL_FROM_NAME=Ramu
IMAP_HOST=rcpro.in
IMAP_PORT=993
IMAP_ENCRYPTION=ssl
IMAP_VALIDATE_CERT=true
IMAP_DEFAULT_FOLDER=INBOX
SMTP_HOST=rcpro.in
SMTP_PORT=465
SMTP_ENCRYPTION=ssl
MAIL_LIST_DAYS_DEFAULT=30
MAIL_LIST_UID_TTL=120
